<div class="container-index like">
<div class="thecontainer like">

  <div class="p-4">
  <h1>Favoris</h1>
  <h4>Bonjour <b><%= current_user.first_name %></b>,</h4>
  <h4>Voici vos activités à venir</h4>
  </div>
  <% if @liked_activities.present? %>
  <% @liked_activities.each do |like| %>
    <div class="card-product d-flex" style="padding:10px; ">
      <% if like.photo.attached? %>
        <%= cl_image_tag like.photo.key, crop: :fill %>
      <% else %>
        <img src="app/assets/images/funfinder.jpg" alt="No image" style="max-width: 100%; max-height: 200px; rounded-5">
      <% end %>

      <div class="card-product-infos d-flex justify-content-start flex-column mb-3 text-start ">
        <div class="card-header pt-3">
          <span><b><%= like.name %></b></span>
        </div>
        <p><%= distance_of_time_in_words(Time.now, like.date_begin, include_seconds: true, about: false, locale: :fr) %> avant le début de l'évènement </p>
        <button href="#" type="button" class="btn btn-outline-primary "><i class="fa-solid fa-share-nodes"></i>  Partager</button>
        </div>
        <div class="heart-icon"><i class="fa-solid fa-heart"></i></div>

    </div>

  <% end %>
<% else %>
  <%= link_to "Choisissez votre première activité", activities_path %>
<% end %>

<% if @past_activities.present? %>
  <% @past_activities.each do |past| %>
    <div class="card-product">
      <% if past.photo.attached? %>
        <%= cl_image_tag past.photo.key, crop: :fill %>
      <% else %>
        <img src="app/assets/images/funfinder.jpg" alt="No image" style="max-width: 100%; max-height: 200px;">
      <% end %>

      <div class="card-product-infos">
        <div class="card-header">
          <p><%= past.name %></p>
          <a href="#" class="share-link">Partager</a>
        </div>

        <p><%= distance_of_time_in_words(Time.now, past.date_begin, include_seconds: true, about: false, locale: :fr) %> depuis l'évènement </p>

        <div class="heart-icon"><i class="fa-solid fa-heart p-3"></i></div>
      </div>
    </div>
  <% end %>
<% end %>
</div>
</div>
