
  <div class="thecontainer">
    <div class="Flogo">
    <%=  image_tag "funfinder.jpg" %>
    </div>
    <div class="form_date search-bar ">
      <%= render 'form_date', activity: @activity %>
    </div>
    <h3>Les dernière activités ajouté :</h3>


    <div id="carouselExampleIndicators" class="carousel slide carousel-slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
      </div>
      <div class="carousel-inner">
        <!-- Carousel Item 1 -->
        <div class="carousel-item active">
          <%= cl_image_tag Activity.first.photo.key, class: "d-block w-100 img", alt: Activity.first.name %>
          <div class="carousel-caption d-none d-md-block">
            <div class="overlay">
              <h4><%=  Activity.first.name %></h4>
              <p><%= Activity.first.brand %></p>
              </div>
          </div>
        </div>
        <!-- Carousel Item 2 -->
        <div class="carousel-item">
          <%= cl_image_tag Activity.second.photo.key, class: "d-block w-100 img", alt: Activity.second.name %>
          <div class="carousel-caption d-none d-md-block">
            <div class="overlay">
              <h4><%=  Activity.second.name %></h4>
              <p><%=  Activity.second.brand %></p>
              </div>
          </div>
        </div>

        <!-- Carousel Item 3 -->
        <div class="carousel-item">
          <%= cl_image_tag Activity.third.photo.key, class: "d-block w-100 img", alt: Activity.third.name %>
          <div class="carousel-caption d-none d-md-block">
            <div class="overlay">
              <h4><%=  Activity.third.name %></h4>
              <p><%=  Activity.third.brand %></p>
              </div>
          </div>
        </div>

        <!-- Carousel Item 4 -->
        <div class="carousel-item">
          <%= cl_image_tag Activity.fourth.photo.key, class: "d-block w-100 img", alt: Activity.fourth.name %>
          <div class="carousel-caption d-none d-md-block">
            <div class="overlay">
              <h4><%=  Activity.fourth.name %></h4>
              <p><%=  Activity.fourth.brand %></p>
            </div>
          </div>
        </div>
        <!-- Carousel Item 5 -->
        <div class="carousel-item">
          <%= cl_image_tag Activity.fifth.photo.key, class: "d-block w-100 img", alt: Activity.fifth.name %>
          <div class="carousel-caption d-none d-md-block">
            <div class="overlay">
              <h4><%=  Activity.fifth.name %></h4>
              <p><%=  Activity.fifth.brand %></p>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="amuser">
      <h2>Amusez vous en 4 étapes :</h2>
      <h3>🗓️ Rentrez votre date</h3>
      <h3>📍 Rentrez votre lieu</h3>
      <h3>🧩 Choisissez votre thème</h3>
      <h3>🧭Découvrez les activités dans le coin</h3>
    </div>
  </div>
