<div class="container bg-white">
  <div class="back">
    <i class="fa-solid fa-arrow-right fa-rotate-180"><%= link_to "", themes_index_path(params: params[:themes]) %></i>
  </div>


  <div class="mapslide">
    <h1>Les Activités</h1>
  </div>
  <div style="width: 100%; height: 400px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <div class="glide" data-controller="slide-card">
    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides">
        <% @activities.each_with_index do |activity, index| %>
          <li class="glide__slide card-slide">
            <% if activity.photo.attached? %>
              <%= cl_image_tag activity.photo.key, class: "d-block w-100 img", alt: activity.name %>
            <% else %>
              <img src="/app/assets/images/funfinder.jpg" alt="Logo">
            <% end %>
            <h5><%= activity.name %></h5>
            <p><%= activity.brand %></p>
            <p><%= activity.date_begin %></p>
          </li>
        <% end %>
        <%= console %>
      </ul>
    </div>
    <div data-glide-el="controls">
      <button data-glide-dir="<">Start</button>
      <button data-glide-dir=">">End</button>
    </div>
  </div>
</div>
