
<div class="text-center">
  <h1 style="color: #FA8460;">Carte</h1>
</div>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <% @activities.each_with_index do |activity, index| %>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= index %>" <%= 'class="active"' if index.zero? %> aria-current="<%= index.zero? ? 'true' : 'false' %>" aria-label="Slide <%= index + 1 %>"></button>
    <% end %>
  </div>
  <div class="carousel-inner">
    <% @activities.each_with_index do |activity, index| %>
      <div class="carousel-item <%= 'active' if index.zero? %>">
        <% if activity.photo.key?%>
        <%= cl_image_tag activity.photo.key, class: "d-block w-100", alt: activity.name %>
        <% else %>
         <img src="" alt="No image" style="max-width: 100%; max-height: 200px;">
        <div class="carousel-caption d-none d-md-block">
          <h5><%= activity.name %></h5>
          <p><%= activity.brand %></p>
        </div>
      </div>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
