<div class="container show">
    <div class="petit-logo">
      <div class="back">
        <%= link_to (activities_path) do %>
          <i class="fa-solid fa-arrow-right fa-rotate-180"></i>
        <% end %>
      </div>
      <%=  image_tag "Funfinder_logo.png" %>
    </div>
    <div class=" ">
      <h1 class="mb-3"><%= @activity.name.upcase  %></h1>


      <h2><%= @activity.brand %></h2>
    </div>
    <div class="card-show-background">
      <div class="d-flex justify-content-center rounded-5">
        <% if @activity.photo.attached? %>
          <%= cl_image_tag @activity.photo.key,  crop: :fill, class: "img-activity" %>
        <% else %>
          <img src="" alt="No image" style="max-width: 100%; max-height: 200px;">
        <% end %>
      </div>
      <div class="border-show mt-3 rounded-card">

        <div class=" p-2 mt-3   ">
          <h5>✏️ DESCRIPTION</h5>
          <p><%= @activity.content %></p>
        </div>
        <div class="  back d-flex justify-content-center mb-2 ">
          <div class="me-2 mt-3 rounded-card  w-100 ">
            <h5> 📍ADRESSE</h5>
            <p><%= @activity.address %></p>
          </div>
          <div class="ms-2 mt-3 rounded-card  w-100 ">
            <h5> 🗓️ DATE</h5>
              <% if @activity.date_begin?%>
              <p><%= @activity.date_begin.to_date.strftime('%d-%b-%Y') %></p>
            <% else %>
              <p><%= @activity.date_begin = Date.today %></p>
            <% end %>
          </div>
        </div>
        <%= link_to @activity.website, target: "_blank", class: "link-yellow d-flex justify-content-center ms-2 mt-3"  do%>
          Site Web
        <% end %>

      </div>
    </div>
    <div class="d-flex justify-content-center flex-column rounded-5">
      <%= link_to "Ajouter au favoris", activity_likes_path(@activity), data:{turbo_method: :post}, class: "btn btn-primary mt-4 " %>

    </div>
  <div class="clear">
  <div>
</div>
