<div class="thecontainer">
  <div class=" show back d-flex justify-content-between">
  <a href="/activities"><i class="fa-solid fa-arrow-right fa-rotate-180"></i></a>
  <div class="d-flex justify-content-center flex-column">
  <h1><%= @activity.name  %></h1>
  <h2><%= @activity.brand %></h2>
  </div>

  <div class="show">
    <div class="d-flex justify-content-center rounded-5">
      <% if @activity.photo.attached? %>
        <%= cl_image_tag @activity.photo.key,  crop: :fill, class: "img-activity" %>
      <% else %>
        <img src="" alt="No image" style="max-width: 100%; max-height: 200px;">
      <% end %>
    </div>
    <div class=" p-3">
    <h5>Description</h5>
    <p><%= @activity.content %></p>
    </div>
    <div class=" show back d-flex justify-content-around">
      <div>
        <h5> Adresse</h5>
        <p><%= @activity.address %></p>
      </div>
      <div>
        <h5> Date</h5>
          <% if @activity.date_begin?%>
          <p><%= @activity.date_begin.to_date.strftime('%d-%b-%Y') %></p>
        <% else %>
          <p><%= @activity.date_begin = Date.today %></p>
        <% end %>
      </div>
    </div>
  </div>


    <div class="d-flex justify-content-center flex-column rounded-5">
        <%= link_to "Ajouter au favoris", activity_likes_path(@activity), data:{turbo_method: :post}, class: "btn btn-primary " %>
        <%= link_to "Site Web", @activity.website, class: "btn btn-outline-primary" %>
  </div>
</div>
