
<div class="container">
  <h1><%= @activity.name  %><h1>
  <h2><%= @activity.brand %></h2>
  <div class="d-flex justify-content-center rounded-5">
    <% if @activity.photo.attached? %>
      <%= cl_image_tag @activity.photo.key,  crop: :fill, class: "img-activity" %>
    <% else %>
      <img src="" alt="No image">
    <% end %>
  </div>

  <%# <h3 class="theme"><%= @activity.theme %></h3>
  <h3><%= @activity.address %> - <%= @activity.date_begin.to_date.strftime('%d-%b-%Y')%><%= @activity.date_end.to_date.strftime('%d-%b-%Y') %></h3>
  <h3 class="description_title">Description : </h3>
  <p><%= @activity.content %></p>

  <div class="d-flex justify-content-center">
    <%# <%= link_to "Ajouter aux Favoris", profile_path, class: "btn btn-primary" %>
    <%= link_to "Site Web", @activity.website, class: "btn btn-white" %>
  </div>
</div>
